# Laravel / PHP



# VS Code
.vscode/

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log
/vendor
/node_modules
/public/storage
/storage/*.key
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.phar
.env.backup
.idea
.vscode
.DS_Store
*.log
*.sublime-workspace
*.sublime-project


